@use './roots/' as *;
.about{
	margin-bottom: 240px;
	margin-top: 50px;
	@media screen and (min-width:1024px) and (max-width:1239.9px) {
		margin-top: 58px;
	}
	@media screen and (min-width:1240px) {
		margin-top: 32px;
	}
	&__img{
		border-radius: 20px;
		max-height: 528px;
		aspect-ratio: 5 / 3;
		margin-bottom: 40px;
		@media screen and (min-width:1024px) {
			aspect-ratio: 5 / 2;
			margin-bottom: 60px;
		}
		img{
			border-radius: inherit;
			max-width: 100%;
			width: 100%;
			max-height: 100%;
			height: 100%;

		}
	}
	&__row{
		@media screen and (min-width:1240px) {
			justify-content: flex-end;
			gap: 40px;
		}
	}
	& .about__left {
		img{
			object-position: 75% 24%;
			max-height: 360px;
		}
	}
	&__right img{
		max-width: 80px;
	}
}