@use './roots/' as *;
.blog{
	margin-bottom: 180px;
	@media screen and (min-width:768px) {
		margin-bottom: 240px;
	}
	&__items{
		display: flex;
		flex-direction: column;
		gap: 32px;
		@media screen and (min-width:768px) {
			display: grid;
		}
		@media screen and (min-width:768px) and (max-width:1239.9px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (min-width:1240px){
			grid-template-columns: repeat(3, 1fr);
		}
	

	}
	&__item{
		display: flex;
		flex-direction: column;
		font-family: 'Inter', sans-serif;
		height: auto;
		&__img{
			position: relative;
			max-height: 192px;
			min-height: 192px;
			z-index: 0;
			overflow: hidden;
			width: 100%;
			@media screen and (min-width:768px) {
				border-radius: 40px 40px 0 0;
			}
			&:hover{
				img{
					transform: scale(1.1);
				}
			}
			&:before{
				content: '';
				width: 100%;
				height: 100%;
				border-radius: inherit;
				z-index: 1;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				opacity: 0.9;
				background: linear-gradient(180deg, #1C1A1C 0%, rgba(0, 0, 0, 0.00) 100%);
			}
			img{
				opacity: 0.8;
				border-radius: inherit;
				transition: 600ms ease-out;
				object-fit: cover;
				max-width: 100%;
				max-height: 100%;
				width: 100%;
				height: 100%;
				
				
			}
			span{
				border-radius: 20642200px;
				border: 0.615px solid rgba(255, 255, 255, 0.10);
				background: rgba(28, 26, 28, 0.50);
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				bottom: 16px;
				left: 24px;
				max-width: 41px;
				max-height: 41px;
				width: 100%;
				height: 100%;
				svg path{
					stroke:$accent-100;
				}
			}
		}
		&__content{
		padding: 32px 20px;
		background-color: $black-200;
		border-radius: 0 0 40px 40px;
		display: flex;
		flex-direction: column;
		height: 100%;
		@media screen and (min-width:768px) {
			padding: 32px 24px;
		}
		@media screen and (max-width:1023.9px) {
			gap: 24px;
		}
		a:not([class]){			
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 32px; 
			letter-spacing: 0.07px;
			transition: 600ms ease-out;		
			@media screen and (min-width:768px) {
			font-size: 24px;
			min-height: 64px;
			margin-bottom: 17px;
		}
		&:hover{
			color: $accent-100;
		}
		}
		p{
			color: $gray;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px; 
			letter-spacing: -0.44px;
			display: -webkit-box;          
			-webkit-line-clamp: 2;          
			-webkit-box-orient: vertical;   
			overflow: hidden;               
			text-overflow: ellipsis;   
			word-break: break-word;
			text-wrap-style: balance;
			padding-right: 30px;
			@media screen and (min-width:768px) {
				font-size: 18px;
				line-height: 29.25px; 
				letter-spacing: -0.439px;
				margin-bottom: 27px;
			}
		}
		.blog__link{
			color: $accent-100;
			position: relative;
			padding-right: 27px;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: -0.31px;
			margin-top: auto;
			&:hover{
				&:after{
					transform: translate(10px, -50%) ;
				}
			}
			&:after{
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);				
				width: 20px;
				height: 20px;
				transition: 600ms ease-out;
				background: url(../images/link-arrow.svg) center center / 20px no-repeat;
			}
		}
	}
	}
	
}