@use './roots/' as *;
.chief{
	position: relative;
	margin-bottom: 180px;
	margin-top: 20px;
	@media screen and (min-width:1024px) {
			margin-top: 90px;
	}
	@media screen and (min-width:1024px) and (max-width:1239.9px) {
		margin-bottom: 200px;
	}
	@media screen and (min-width:1240px) {
		margin-bottom: 280px;
	}
	&.chief-bg {
		margin-top: 60px;
		--img-height: 0px;
			&::after{
				background-image: url(../images/Vector-new.svg) ;
				background-position: -30% 0;
				background-size: cover;
				background-repeat: no-repeat;
				content: "";
				height: calc(var(--img-height) + 60px);
				left: 0%;
				position: absolute;
				top: -60px;
				transform: translateX(-0%);
				width: 100%;
				z-index: -1;
				@media screen and (min-width:1024px) {
					height: calc(100% + 134px);
					left: 50%;
					top: -134px;
					transform: translateX(-50%);
					left: 50%;
					width: 100%;
					background-position: center;
					background-size: contain;
				}

			}
		}
		&.chief-color{
			margin-top: 32px;
			margin-bottom: 140px;
		}
	&__img{
		position: relative;
		width: 100%;		
		overflow: hidden;
		display: flex;
		align-items: center;
	
		@media screen and (min-width:1024px) {	
				width: 50%;
		}
.chief-color &{
	border-radius: 0 0 20px 20px;
	@media screen and (min-width:1024px) {	
				border-radius: 0 40px 40px 0;
		}
}
		img{
			max-width: 100%;
			width: 100%;
			margin: auto;
			border-radius: inherit;
			@media screen and (min-width:1024px) {			
			max-width: 676px;
		}
		}
	}
	&__container{
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column-reverse;
		
		@media screen and (min-width:1024px) {
			flex-direction: row;
			justify-content: space-between;
		}
		@media screen and (max-width:1023.9px) {
			gap: 40px;
		}
		.chief-color &{
			border-radius: 20px;
			border: 0.692px solid rgba(255, 255, 255, 0.10);
			background-color: $black-200;
			@media screen and (min-width:1024px) {
				border-radius: 40px;
			}
			@media screen and (max-width:1023.9px) {
				flex-direction: column;
			}
			&::after{
				@media screen and (min-width:1024px) {
				border-radius: inherit;
				height: 100%;
					background-image: url(../images/1.svg);
				content: "";
				height: 100%;
				position: absolute;
				width: 100%;
				z-index: -1;
				top: -0;
				transform: translateX(-50%);
				left: 50%;
				width: 100%;
				background-position: center;
				background-size: 100%;
				
					
				}

			}
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
		justify-content: center;
		.chief-color &{
			padding: 20px;
				@media screen and (min-width:1024px) and (max-width:1239.9px) {
			padding: 50px 0 50px 36px;
		}
		@media screen and (min-width:1240px) {
				padding: 80px 0 80px 36px;
		}
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width: 49%;
		}
		@media screen and (min-width:1240px) {
				width: 50%;
		}
		.simple{
			width: fit-content;
			margin-bottom: 24px;
			display: inline-block;
			padding: 11px;
			border-radius: 23211300px;
				border: 0.692px solid rgba(255, 255, 255, 0.10);
				background: rgba(255, 255, 255, 0.05);
		}
		h1{
			text-align: left;
			margin-bottom: 24px;
			@media screen and (min-width:1024px) {
				margin-bottom: 40px;
			}
		}
		p{
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			color: $gray;
			margin-bottom: 24px;
			.chief-color &{
					margin-bottom: 12px;
					&:nth-last-of-type(1){
					margin-bottom: 40px;			
				}
				}
				&:nth-last-of-type(1){
					margin-bottom: 40px;			
				}
			@media screen and (min-width:1024px) {
				font-size: 18px;
				margin-bottom: 24px;
				.chief-color &{
					margin-bottom: 12px;
				}
				&:nth-last-of-type(1){
					margin-bottom: 60px;	
					.chief-color &{
					margin-bottom: 60px;
				}			
				}
				
			}
			strong, a, span{
				color: $white;
			}
		}
		& .btn{
			max-width: 320px;
			width: 100%;
			justify-content: flex-start;
		}
	}
}