@use './roots/' as *;
.chief{
	position: relative;
	margin-bottom: 180px;
	margin-top: 20px;
	@media screen and (min-width:1024px) {
		margin-bottom: 200px;
			margin-top: 90px;
	}
	&__img{
		position: relative;
		width: 100%;		
		overflow: hidden;
		@media screen and (min-width:1024px) {
			width: 57%;
			height: 391px;
			.chief-ind & {
				width: 49%;
			}
		}
		@media screen and (min-width:1525px) {
			margin-right: -29px;
		}
		&:before{
			content: '';
			width: 108px;
			position: absolute;
			top: 0;
			left: -18px;
			height: 100%;
			z-index: 1;
			background: linear-gradient(90deg, #171517 39.94%, rgba(23, 21, 23, 0.00) 78.15%);
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width: 513px;
			left: -223px;
			background:  linear-gradient(90deg, #171517 39.94%, rgba(23, 21, 23, 0.00) 78.15%);;
		}
		@media screen and (min-width:1240px) {
			width: 220px;
			left: -123px;
		}
		}
		img{
			aspect-ratio: 7 / 4;
			max-width: 100%;
			width: calc(100% - 30px);
			margin-left: auto;
			@media screen and (min-width:1024px) {
			min-width: 700px;
			max-width: 700px;
			height: 391px;
			position: absolute;
			top: 0;
			right: 0px;
		}
		}
	}
	&__container{
		max-width: 1450px;
		width: 100%;
		padding: 0 0 0 18px;
		margin: 0 auto;
		display: flex;
		flex-direction: column-reverse;
		@media screen and (min-width:1024px) {
			flex-direction: row;
		}
		@media screen and (max-width:1023.9px) {
			gap: 40px;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width: 49%;
		}
		@media screen and (min-width:1240px) {
			width: 46%;
			.chief-ind & {
				width: 50%;
			}
		}

		h1{
			text-align: left;
			margin-bottom: 24px;
			@media screen and (min-width:1024px) {
				margin-bottom: 40px;
			}
		}
		p{
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			color: $gray;
			margin-bottom: 24px;
				&:nth-last-of-type(1){
					margin-bottom: 40px;
				}
			@media screen and (min-width:1024px) {
				font-size: 18px;
				margin-bottom: 24px;
				&:nth-last-of-type(1){
					margin-bottom: 60px;
				}
			}
			strong{
				color: $white;
			}

		}
		& .btn{
			max-width: 320px;
			width: 100%;
			justify-content: flex-start;
		}
	}
	
	
}