@use './roots/' as *;
.chief{
	position: relative;
	padding-bottom: 180px;
	padding-top: 20px;
	@media screen and (min-width:1024px) {
		padding-bottom: 200px;
			padding-top: 90px;
	}
	&.chief-bg {
			&::after{
				background: url(../images/Vector-new.svg) 50% / cover no-repeat;
				
				content: "";
				height: 100%;
				left: 50%;
				position: absolute;
				top: -134px;
				transform: translateX(-50%);
				width: 100%;
				z-index: -1;
			}
		}
	&__img{
		position: relative;
		width: 100%;		
		overflow: hidden;
		display: flex;
		align-items: center;
		@media screen and (min-width:1024px) {	
				width: 50%;
		}

		img{
			max-width: 100%;
			width: 100%;
			margin: auto;

			@media screen and (min-width:1024px) {			
			max-width: 676px;
		}
		}
	}
	&__container{
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column-reverse;
		
		@media screen and (min-width:1024px) {
			flex-direction: row;
			justify-content: space-between;
		}
		@media screen and (max-width:1023.9px) {
			gap: 40px;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width: 49%;
		}
		@media screen and (min-width:1240px) {
				width: 50%;
		}

		h1{
			text-align: left;
			margin-bottom: 24px;
			@media screen and (min-width:1024px) {
				margin-bottom: 40px;
			}
		}
		p{
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			color: $gray;
			margin-bottom: 24px;
				&:nth-last-of-type(1){
					margin-bottom: 40px;
				}
			@media screen and (min-width:1024px) {
				font-size: 18px;
				margin-bottom: 24px;
				&:nth-last-of-type(1){
					margin-bottom: 60px;
				}
			}
			strong, a, span{
				color: $white;
			}
		}
		& .btn{
			max-width: 320px;
			width: 100%;
			justify-content: flex-start;
		}
	}
}