@use './roots/' as *;
.chief{
	position: relative;
	margin-bottom: 180px;
	margin-top: 20px;
	@media screen and (min-width:1024px) {
		margin-bottom: 200px;
			margin-top: 90px;
	}
	&.chief-bg {
		margin-top: 60px;
		--img-height: 0px;
			&::after{
				background-image: url(../images/Vector-new.svg) ;
				background-position: -30% 0;
				background-size: cover;
				background-repeat: no-repeat;
				content: "";
				height: calc(var(--img-height) + 60px);
				left: 0%;
				position: absolute;
				top: -60px;
				transform: translateX(-0%);
				width: 100%;
				z-index: -1;
				@media screen and (min-width:1024px) {
					height: calc(100% + 134px);
					left: 50%;
					top: -134px;
					transform: translateX(-50%);
					left: 50%;
					width: 100%;
					background-position: center;
					background-size: contain;
				}

			}
		}
	&__img{
		position: relative;
		width: 100%;		
		overflow: hidden;
		display: flex;
		align-items: center;
		@media screen and (min-width:1024px) {	
				width: 50%;
		}

		img{
			max-width: 100%;
			width: 100%;
			margin: auto;

			@media screen and (min-width:1024px) {			
			max-width: 676px;
		}
		}
	}
	&__container{
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column-reverse;
		
		@media screen and (min-width:1024px) {
			flex-direction: row;
			justify-content: space-between;
		}
		@media screen and (max-width:1023.9px) {
			gap: 40px;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width: 49%;
		}
		@media screen and (min-width:1240px) {
				width: 50%;
		}

		h1{
			text-align: left;
			margin-bottom: 24px;
			@media screen and (min-width:1024px) {
				margin-bottom: 40px;
			}
		}
		p{
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			color: $gray;
			margin-bottom: 24px;
				&:nth-last-of-type(1){
					margin-bottom: 40px;
				}
			@media screen and (min-width:1024px) {
				font-size: 18px;
				margin-bottom: 24px;
				&:nth-last-of-type(1){
					margin-bottom: 60px;
				}
			}
			strong, a, span{
				color: $white;
			}
		}
		& .btn{
			max-width: 320px;
			width: 100%;
			justify-content: flex-start;
		}
	}
}