@use './roots/' as *;
.connection{
	margin-bottom: 180px;
&__container{
	display: flex;
	flex-direction: column;
	gap: 60px;
	max-width: 1280px;
	margin: 0 auto;
	@media screen and (min-width:1024px) {
		flex-direction: row;
	}
}
&__info{
	display: flex;
	flex-direction: column;
	gap: 40px;
	
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 139%;
	letter-spacing: -0.32px;
	@media screen and (min-width:1024px) {
		width: 46%;
		font-size: 18px;
	}
	span{
		color: $gray-100;		
	}
	&__title{
		font-size: 28px;
		font-style: normal;
		font-weight: 700;
		line-height: 110%; 
		letter-spacing: -0.84px;
		span{
			color: $accent-100;
		}
		@media screen and (min-width:1024px) {
			font-size: 54px;
			font-style: normal;
			font-weight: 600;
			line-height: 120%; 
			letter-spacing: -1.08px;
		}
	}
	
	
}
	&__contact__items{
		display: flex;
		flex-wrap: wrap;
		gap: 24px 32px;
		@media screen and (min-width:1024px) {
			gap: 48px 54px ;
		}
	}
	&__contact__item{
		width: calc((100% / 2) - 16px);
		display: flex;
		flex-direction: column;
		gap: 12px;
		@media screen and (min-width:1024px) {
			width: calc((100% / 2) - 27px);
			gap: 14px;
		}
		&.connection__contact__item-full{
			width: 100%;
		}
		a{
			transition: 600ms ease-out;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__socials{
		display: flex;
		flex-wrap: wrap;
		gap: 14px 60px ;
		margin-top: auto;
		margin-bottom: 40px;

		span{
			width: 100%;
		}
		a{
			display: flex;
			align-items: center;
			gap: 14px;
			transition: 600ms ease-out;
			&:hover{
				color: $accent-100;
				svg path{
					fill: $accent-100;
				}
			}
			&:active{
				color: $accent-900;
				svg path{
					fill: $accent-900;
				}
			}
			svg{
				max-width: 22px;
				height: fit-content;
				path{
					transition: 600ms ease-out;
				}
			}
		}
	}
&__form{
	padding: 32px 18px;
	background-color: $white-200;
	border-radius: 40px;
		display: flex;
	flex-direction: column;
	gap: 24px;
	@media screen and (min-width:1024px) {
		width: 48%;
		padding: 32px;
	}
	&__title{
		font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	text-align: center;
		@media screen and (min-width:1024px) {
		font-size: 18px;
	}
	}


	.btn{
		max-width: 100%;
		width: 100%;
		position: relative;
		text-align: left;
		justify-content: left;
		color: $black;
		padding: 9px 54px 9px 39px;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
		@media screen and (min-width:1024px) {
			padding: 17px 80px 17px 59px;
		}
	&	input[type="submit"]{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		border: none;
		background-color: transparent;
	}
	}
	
	
}
}