@use './roots/' as *;
.counter{
	text-align: center;
	margin-bottom: 180px;
	
	@media screen and (min-width:1240px) {
		margin-bottom: 240px;
	}
	h2{
		color: $white;
		text-align: center;
		margin-bottom: 94px;
		@media screen and (min-width:1024px) {
			margin-bottom: 60px;
		}
	}
	.target__content{
		opacity: 0;
		display: none;
		visibility: hidden;
		&.active{
			opacity: 1;
			display: block;
			visibility: visible;
		}
	}
	&__list{
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20642200px;
		border: 0.615px solid $black-100;
		background: $black-300;
		max-width: fit-content;
		margin: 0 auto;
		padding: 5px;
		&-item{
			display: flex;
			align-items: center;
			justify-content: center;			
			text-align: center;
			font-family: "Inter", sans-serif;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: -0.312px;
			padding: 11px 32px;
			color: $gray;
			cursor: pointer;
			transition: 600ms ease-out;
			&.active{
				color: #000;	
				border-radius: 20642200px;
				background: $accent-100;
				box-shadow: 0 0 20px 0 rgba(154, 220, 255, 0.30);
			}
			}
		}
	&__content{
		&__wrap{
			position: relative;
		}
		&__wrapper{
			display: flex;
			justify-content: space-between;
			position: relative;
			gap:16px;
			align-items: center;
			justify-content: space-between;
			max-width: 1078px;
			margin: 0 auto;
			flex-direction: column;
			@media screen and (min-width:992px) {
				flex-direction: row;
			}
		}
		&__items{			
			display: flex;
			gap: 16px;
			width: 100%;
			@media screen and (min-width:992px) {
				gap: 92px;
				padding-top: 75px;
				padding-bottom: 85px;
				flex-direction: column;
			}
			&:nth-of-type(1){
				@media screen and (max-width:991.9px) {
					order: 2;
				}
			}
			&:last-of-type{
				@media screen and (max-width:991.9px) {
					order: 3;
				}
			}
		}
		&__images{
			position: relative;
			width: 272px;
			height: 341px;
			@media screen and (max-width:991.9px) {
				order: 1;
			}
		
			&:after{
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;
					left: 50%;
					z-index: -1;
					background: url(../images/bg.png) center center / 100% no-repeat;
				}
			@media screen and (min-width:992px) {
				width: 508px;
				height: 635px;
				min-width: 508px;
				padding: 68px 0;
			}
			img{
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;			
			transform: translate(-50%, -50%);
			z-index: 1;
			transition: 600ms ease-out;
					
			&.unactive{
				opacity: 0;
			}
		}
		.content-img{
			&-first,
			&-second,
			&-third,
			&-forth{
				opacity: 0;
				&.active{
					opacity: 1;
				}
			}
		}
		.counter-img-main {
    opacity: 1; 
    visibility: visible;
    z-index: 2; 
    &.unactive {
        opacity: 0;
        visibility: hidden;
    	}
		}
			.item{
				&.unactive{
					opacity: .1;
				}
				@keyframes drawLine {
						to {
							stroke-dashoffset: 0;
						}
					}

					.drawing-path {
						// Встановлюємо спільні параметри
						stroke-dasharray: 400; 
						animation: drawLine 3s ease forwards;
						// Спочатку приховуємо лінію (за замовчуванням)
						stroke-dashoffset: 400; 
					}
			@media screen and (min-width:992px) {
				&-first,
				&-second{
					.drawing-path {
						stroke-dashoffset: -400; 
					}
				}
				&-first{
					top: 151px;
					left:-27%;					
				}
				&-second{
					bottom: 214px;
					left: -26%;
				}
				&-third{
					right: -26%;
					top: 211px;
					.drawing-path {
						stroke-dashoffset: -400; 
					}				
				}
				&-forth{
					right:-26%;
					bottom: 126px;	
					.drawing-path {
						stroke-dashoffset: -400; 
					}			
				}
			}

			}
			svg{
			position: absolute;
			z-index: 3;
			@media screen and (max-width:991.9px) {
				display: none;
			}
		}	
			.knob{
				width: 12px;
				height: 12px;
				border-radius: 20642200px;
				background: $accent-100;
				box-shadow: 0 0 15px 0 $accent-100;
				position: absolute;
				z-index: 3;
				&.unactive{
					opacity: .1;
				}
				&:after{
					content: '';
					width: 20px;
					height: 20px;
					opacity: 0.2306;
					background: $accent-100;
					border-radius: 20642200px;
					position: absolute;
					top: -4px;
					left: -4px;
				}
				&-first{
					left: 45%;
    			top: 148px;
					@media screen and (max-width:991.9px) {
						top: 93px;
						left: 48%;
					}
				}
				&-second{
					bottom: 210px;
    			left: 30%;
					@media screen and (max-width:991.9px) {
						bottom: 105px;
						left: 32%;
					}
				}
				&-third{
					right: 31%;
    			top: 325px;
					@media screen and (max-width:991.9px) {
						top: 178px;
						right: 27%;
					}
				}
				&-forth{
					bottom: 120px;
    			right: 45%;
					@media screen and (max-width:991.9px) {
						bottom: 60px;
    				right: 47%;
					}
				}
			}	
		
		}
	&__item{
		display: flex;
		flex-direction: column;
		gap: 8px;		
		width: fit-content;
		position: relative;
		background-color: $black;
		z-index: 3;
		transition: 600ms ease-out;
		&.unactive{
			opacity: .1;
		}
		&:after{
				@media screen and (min-width:992px) {
					content: '';
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background-color: #9ADCFF;
					position: absolute;
					top: 50%;					
				}
			}
		@media screen and (max-width:991.9px) {
				border-radius: 14px;
				border: 0.615px solid #333;
				background: #222;
				width: calc(50% - 3px);
				padding: 22px;
				flex-wrap: wrap;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				span:not(.count span){
					width: 100%;
					text-align: center;

				}
				.count,p{
					width: fit-content;
				}
				&:hover{
					border-color: $accent-200;
				}

		}
		&.first,
		&.second{
			@media screen and (min-width:922px) {
				text-align: right;
				padding-right: 16px;
					&:after{
					right:-3px;
				}
			}
		
		}
		&.third,
		&.forth{
			text-align: left;
			padding-left: 17px;
		&:after{
			left:-3px;
		}
		}
		
		.count{
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 28px;
			color: $accent-100;
			span{
				font: inherit;
				color: inherit;
				line-height: inherit;
			}
			@media screen and (min-width:992px) {
				font-size: 48px;
				line-height: 48px; 
			}
		}
		p{
			font-size: 10px;
			font-style: normal;
			font-weight: 600;
			line-height: 15px; /* 150% */
			letter-spacing: 0.5px;
			text-transform: uppercase;
			@media screen and (min-width:992px) {
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: 28px; /* 140% */
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}
			
		}
		span{
			color: #999;
			text-align: center;
			font-size: 10px;
			font-style: normal;
			font-weight: 400;
			line-height: 11.25px;
			@media screen and (min-width:992px) {
				font-size: 14px;
				line-height: 22.75px;
			}
		}
	}
	}
}