@use './roots/' as *;
.directions{
	overflow: hidden;
	margin-bottom: 140px;
	@media screen and (min-width:1024px) {
		margin-bottom: 240px;
	}
	&__title{
		margin-bottom: 32px;
		text-align: center;
		position: relative;
		z-index: 2;
		h2{
			color: $white-500;
		}
	}
	// &__wrap{
	// 	display: flex;
	// 	flex-direction: column;
	// 	gap:32px;
	// 	position: relative;
	// 	@media screen and (min-width:960px) {
	// 		justify-content: flex-end;
	// 		flex-direction: row;
	// 	}
	// }
	// &__img{
	// 	position: relative;
	// 	z-index: 0;
	// 	aspect-ratio: 9 / 8;
	// 	object-fit: cover;
	// 	@media screen and (min-width:768px) {
	// 		aspect-ratio:16/10;	
	// 	}
	// 	@media screen and (min-width:960px) {
	// 		position: absolute;
	// 		top: 50%;
	// 		transform: translateY(-50%);	
				
	// 	}
	// 	@media screen and (min-width:960px) and (max-width:1520.9px) {
			
	// 		left: -18px;
	// 		max-width: 518px;
	// 	}
	// 	@media screen and (min-width:1521px) {
	// 		left: -80px;
	// 		max-width: 750px;
	// 	}
	// }
	// &__wrapper{
	// 	position: relative;
	// 	display: flex;
	// 	flex-direction: column;
	// 	gap: 18px;

	// 	@media screen and (min-width:960px) {
	// 		width: 51%;
	// 		margin-left: auto;
	// 		z-index: 1;
	// 		gap: 24px;
	// 	}
	// }

	
}