@use './roots/' as *;
.directions{
	overflow: hidden;
	margin-bottom: 140px;
	@media screen and (min-width:1024px) {
		margin-bottom: 224px;
	}
	&__title{
		margin-bottom: 32px;
		text-align: center;
		position: relative;
		z-index: 2;
		h2{
			color: $white-500;
			text-align: left;
		}
	}


	
}