@use './roots/' as *;
.experience{
margin-bottom: 240px;

p {
  font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; 
	text-align: center;
	
	@media screen and (min-width:1024px) and (max-width:1239.9px) {
		font-size: 46px;
	}
	@media screen and (min-width:1240px) {
		font-size: 60px;
	}
	br{
		@media screen and (max-width:768px) {
			display: none;
		}
	}

}

span{
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: $accent-100;
  font-weight: 500;
  vertical-align: middle;
	text-transform: uppercase;
	@media screen and (min-width:1024px) {
		white-space: nowrap;
	}
}

img{
  width: 48px;
  height: 48px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
}



}