@use './roots/' as *;
.footer{
	margin-bottom: 20px;
	@media screen and (min-width:1024px) and (max-width:1239.9px) {
		margin-bottom: 40px;
	}
	@media screen and (min-width:1240px) {
		margin-bottom: 80px;
	}
&__container{
	border-radius: 40px;
	border: 1px solid $black-100;
	padding: 40px 18px;
	display: flex;
	flex-direction: column; 
	gap: 60px;
	@media screen and (min-width:1024px) {
		padding: 40px 32px;
	}
	@media screen and (min-width:1240px) {
		flex-direction: row;
		justify-content: space-between;
	}
}
&__nav{
	@media screen and (min-width:1240px) {
		width:58.5%;
	}
	ul:not(.sub-menu){
		display: flex;
		flex-wrap: wrap;
		gap: 40px 12px;
		justify-content: flex-start;
		@media screen and (min-width:1024px) {
		gap: 50px;
		justify-content: space-between;
		
	}
		li{
			width: fit-content;	
			&:not(.sub-menu li)		{
				
			>	a{
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 129%;
				color: $white;
				margin-bottom: 24px;
				display: inline-flex;
			}
			}
			
		}
	}
	ul.sub-menu{
		display: flex;
		flex-direction: column;
		gap: 18px;
		li a{
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 170%; 
				color: $gray-300;
				transition: 600ms ease-out;
				&:hover{
					color: $accent;
				}
			}
	}
}
&__info{
	display: flex;
		flex-direction: column;
		gap: 40px;
		
	@media screen and (min-width:1240px) {
		width:31%;
	}
	&__form{
		display: flex;
		flex-direction: column;
		gap: 24px;		
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
		flex-direction: row;
		justify-content: space-between;
		}
		div:not([class]){
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 140%; /* 25.2px */
			letter-spacing: -0.36px;
			text-wrap-style: pretty;
			@media screen and (min-width:1024px) {
				font-size: 24px;
			}		
			@media screen and (min-width:1024px) and (max-width:1239.9px) {
		width: 41%;
		}	
		}
		
		.form__wrap{
			position: relative;
			padding: 0;
			width: 100%;
			margin-bottom: 9px;
			width: 100%;
			max-width: 100%;
		
			input[type="submit"]{
				background-color: transparent;	
				padding: 0;
				width: 20px;
				height: 20px;		
					
				&:active,
				&:focus{
					border-color: transparent;
				}
			}
			.submit-wrap{
				position: absolute;
				width: 20px;
				height: 20px;
				top: 50%;
				transform: translateY(-50%);
				right: 32px;
					&:after{
						content: '';
						position: absolute;
						z-index: 2;
						width: 20px;
						height: 20px;
						top: 50%;
						transform: translate(-50%, -50%);
						left: 50%;
						transition: 600ms ease-out;
						background: url('../images/form-arrow.svg') center center / 20px no-repeat;
					}
				&:hover{
					&:after{
						transform: translate(-50%, -50%) rotate(45deg);
					}
				}
			}
			input[type="email"]{
				width: 100%;
				max-width: 100%;
				padding-right: 52px;
				border-color: $gray-300;
					&:active,
				&:focus{
					border-color: $accent;
				}
			}
			input[type="submit"]:hover + .form__wrap:after{				
					transform: rotate(45deg);
				}
		}
		form{
					@media screen and (min-width:1024px) and (max-width:1239.9px) {
				width: 53%;
				}	
			label{
				text-align: center;
				width: fit-content;
				margin: 0 auto;
			}
		}

	}
	&__sing{
		font-family: 'InterTight-SemiBold', sans-serif;
		font-weight: 600;
		color: $gray-300;
			font-size: 14px;
		@media screen and (max-width:1023.9px){
			margin: 0 auto;
			
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
		margin:0;
		}
		@media screen and (min-width:1240px)  {
			margin-top:auto;
			margin-left: auto;
		}
		
		a{
			transition: 600ms ease-out;
			color: $gray;
			&:hover{
				color: $accent-100;
			}
		}
	}

}
}