@use './roots' as *;
.form{
	margin-bottom: 180px;
	@media screen and (min-width:1240px) {
		margin-bottom: 240px;
	}
	&__title{
		margin-bottom: 24px;
		@media screen and (min-width:1024px) {
			margin-bottom: 40px;
		}
	}
	&__block{
		border-radius: 40px;
		background-color: $black-200;
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding: 40px 18px;
		@media screen and (max-width:991.9px) {
			margin-left: -18px;
			margin-right: -18px;
		}
		@media screen and (min-width:992px) {
			padding: 40px;
		}
			.progress-track {
			width: 100%;
			height: 24px;
			border-radius: 16px;
			border: 4px solid #252325;
			background: #252325;
			overflow: hidden;
			position: relative;
		}

		.progress-fill {
			position: relative;
			height: 100%;
			width: 33%; 
			border-radius: 16px;
			background:linear-gradient(270deg, #9ADCFF 0%, rgba(22, 129, 255, 0.00) 100%);
			transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
		}
		.value{
			position: absolute;
			top: 0;
			right: 4px;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 16px; 
			letter-spacing: 0.3px;
			text-transform: uppercase;
			color: #252325;
		}
		&__info{
			div{
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px;
				margin-bottom: 24px;
				@media screen and (min-width:992px) {
					font-size: 22px;
					line-height: 140%;
				}
			}
			p, ul, a{
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				color: $gray;
				@media screen and (min-width:992px) {
					font-size: 18px;
				}

			}
			p{
				margin-bottom: 12px;
			}
			ul{
				display: flex;
				flex-direction: column;
				gap: 12px;
				margin-bottom: 24px;
				li{
					position: relative;
					padding-left: 26px;
					&:before{
						content: '';
						width: 3px;
						height: 3px;
						background-color: $gray;
						border-radius: 50%;
						position: absolute;
						top: 11px;
						left: 9px;

					}
				}
			}
			a{
				color: $accent;
				transition: 600ms ease-out;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		form{
			display: flex;
			flex-direction: column;
			gap: 18px;
			@media screen and (min-width:922px) {
				gap: 40px;
			}
			.form__row{
				display: flex;
				align-items: center;
				gap: 18px;
				@media screen and (min-width:922px) {
				gap: 40px;
				display: grid;
			}
			@media screen and (min-width:992px) and (max-width:1239.9px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media screen and (min-width:1240px) {
				grid-template-columns: repeat(3, 1fr);
			}
			label{
				display: flex;
				flex-direction: column;
				gap: 12px;
				span{
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 120%; /* 19.2px */
					letter-spacing: -0.64px;
					color: $gray;
					span{
						color: #FF5F57;
					}
				}
				input:placeholder{
					color: gray-300;
				}
			}
			}
		}
	}
}