@use './roots/' as *;
.hero{
	margin-bottom: 240px;
	@media screen and (min-width:1024px) and (max-width:1239.9px) {
		margin-bottom: 268px;
	}
	@media screen  and (min-width:1240px) {
		margin-bottom: 300px;
	}
	&__container{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 32px;
		max-width: 1052px;
		width: 100%;
		margin: 0 auto;
		@media screen and (min-width:1024px) {
			gap: 40px;
		}
		p{
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			text-wrap-style: balance;
			color: $gray;
			@media screen and (min-width:1024px) {
				font-size: 18px;
			}
		}
	}
	h1{		
		color: $white-500;
		text-align: center;		
		
			text-align: center;
			margin: 0 auto;
			text-wrap-style: balance;	
			@media screen and (min-width:1240px) {
					max-width: 75%;
			}
	}
	.video-box {
  position: relative;
  width: 100%;
	border-radius: 40px;
	position: relative;
			@media screen and (max-width:1024px) {
		border-radius: 20px;
	
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		border-radius: inherit;
		border-radius: 40px;
		display: block;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), -34px -57.287px / 106.911% 148.664% no-repeat;
	}
}
}

.video {
  width: 100%;
  height: 100%;
	max-height: 472px;
  display: block;
	border-radius: 40px;
	position: relative;
	object-fit: cover;
	@media screen and (max-width:1024px) {
		aspect-ratio: 2 / 1;
		// max-height: 172px;
	}
	
}

.video-play {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 56px;
  height: 56px;
  border-radius: 100px;
	border: 1px solid rgba(255, 255, 255, 0.10);
	background: rgba(144, 154, 168, 0.10);
	backdrop-filter: blur(5px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 600ms, transform 600ms;
	z-index: 2;
	svg{
		max-width: 15px;
	}
	@media screen and (min-width:1024px) {
		 width: 96px;
  height: 96px;
	svg{
		max-width: 27px;
	}
	}
}

.video-play:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.video-box.playing .video-play {
  display: none;
}
.video-box.playing:before{
	display: none;
}
}