@use './roots/' as *;
.hero{
	margin-bottom: 165px;
	margin-top:62px;
	@media screen and (min-width:1024px) and (max-width:1239.9px) {
		
		margin-top: 73px;
	}
	@media screen  and (min-width:1240px) {
		
		margin-top:34px;
	}
	&__container{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 1052px;
		width: 100%;
		margin: 0 auto;
		p{
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			text-wrap-style: balance;
			color: $gray;
			margin-bottom: 20px;
			@media screen and (min-width:1024px) {
				font-size: 18px;
			}
		}
	}
	h1{		
		color: $white-500;
		text-align: center;			
			text-align: center;
			margin: 0 auto;
			text-wrap-style: balance;	
			margin-bottom: 32px;
			@media screen and (min-width:1240px) {
					max-width: 76%;
			}
			@media screen and (min-width:1024px) {
				margin-bottom: 40px;
			}
	}
	.video-box {
  position: relative;
  width: 100%;
	border-radius: 40px;
	position: relative;
	margin-bottom: 32px;
	margin-bottom: 20px;
			@media screen and (max-width:1024px) {
		border-radius: 20px;
					margin-bottom: 32px;
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		border-radius: inherit;
		border-radius: 40px;
		display: block;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), -34px -57.287px / 106.911% 148.664% no-repeat;
	}
}
}

.video {
  width: 100%;
  height: 100%;
	max-height: 472px;
  display: block;
	border-radius: 40px;
	position: relative;
	object-fit: cover;
	aspect-ratio: 9 / 4;
	@media screen and (max-width:1024px) {
		aspect-ratio: 2 / 1;
		// max-height: 172px;
	}
	
}

.video-play {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 56px;
  height: 56px;
  border-radius: 100px;
	border: 1px solid rgba(255, 255, 255, 0.10);
	background: rgba(144, 154, 168, 0.10);
	backdrop-filter: blur(5px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 600ms, transform 600ms;
	z-index: 2;
	svg{
		max-width: 15px;
	}
	@media screen and (min-width:1024px) {
		 width: 96px;
  height: 96px;
	svg{
		max-width: 27px;
	}
	}
}

.video-play:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.video-box.playing .video-play {
  display: none;
}
.video-box.playing:before{
	display: none;
}
&__branches{
	display: flex;
	flex-wrap: nowrap;
	gap: 13.5px;
	overflow-x: auto; 
  overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	width:100%;

	&::-webkit-scrollbar {
    height: 4px; 
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent; 
    border-radius: 10px;
  }
	&__item{
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 24px 14px;
		border-radius: 16px;
		align-items: center;
		justify-content: flex-start;
		width: 186px;
		min-width:186px;
		background-color: $black-200;
		img{
			width: 56px;
			height: 44px;
		}
		p{
			color: gray;
			text-align: center;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
		}
	}
}
}