@use './roots/' as *;
.implant{
	position: relative;
	&:after{
		content:'';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background: url('../images/implant.webp') center center / 950px no-repeat;
	}
	&__title{
		display: flex;
		flex-direction: column;
	}
}