@use './roots/' as *;
.individual{
	margin-bottom: 240px;
	&Slider{
@media screen and (min-width:1024px) {
	height: 523px;
}
	}
	
	&__item{
		display:flex;
		gap: 24px;
		flex-direction: column;
		@media screen and (min-width:1024px) {
			flex-direction: row;
			gap: 98px;
			
		}
		&__title{
			display: flex;
			flex-direction: column;
			gap: 32px;
			@media screen and (min-width:1024px) {
				gap: 24px;
			}
			@media screen and (min-width:1024px) {
				width: 47%;
			}
			h2{
				color: $white-500;
			}
			img{
				border-radius: 20px;
				width: calc(100% - 65px);
				aspect-ratio: 3 / 2;
				object-fit: cover;
				@media screen and (min-width:1024px) {
					border-radius: 40px;
				}
			}

		}
		&__content{
			height: fit-content;
			gap: 32px;
			@media screen and (min-width:1024px) {
				gap: 40px;
			}
			img{
				max-width: 80px;
				width: 100%;
			}
			&-text{
				gap: 24px;
			}
		}

	}
	&__slider{
		position: relative;
	}
}
.individual-pagination {
 position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
  width: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
	max-height: 100%;
	padding: 40px 0;
}

/* вертикальна лінія */
.individual-pagination::before {
  content: '';
  position: absolute;
  top: 8px;
  bottom: 8px;
  width: 1px;
  background:#333;
}

/* маленькі точки */
.pagination-dot {
  width: 15px;
	height: 15px;
  border-radius: 50%;
  background: $gradient;
  z-index: 1;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	&:nth-last-of-type(1){
		top: initial;
		bottom: 0;
	}
}

/* капсули */
.pagination-step {
  border-radius: 20px;
	border: 1px solid #2C2C2C;
	background: var(--Black, #171517);
  z-index: 1;
  transition: all 0.3s ease;
	flex: 1;
	width: 17px;
}

/* активна */
.pagination-step.is-active {
background: $gradient;
}