@use './roots/' as *;
.individual{
	margin-bottom: 240px;
	&Slider{
@media screen and (min-width:1024px) {
	height: 523px;
}
	}
	
	&__item{
		display:flex;
		gap: 24px;
		flex-direction: column;
		@media screen and (min-width:1024px) {
			flex-direction: row;
			gap: 98px;
			
		}
		&__title{
			display: flex;
			flex-direction: column;
			gap: 32px;
			@media screen and (min-width:1024px) {
				gap: 24px;
			}
			@media screen and (min-width:1024px) {
				width: 47%;
			}
			h2{
				color: $white-500;
			}
			img{
				border-radius: 20px;
				width: 100%;
				aspect-ratio: 3 / 2;
				object-fit: cover;
				@media screen and (min-width:1024px) {
					border-radius: 40px;
					width: calc(100% - 65px);
				}
			}

		}
		&__content{
			height: fit-content;
			gap: 32px;
			padding: 24px;
			@media screen and (min-width:1024px) {
				gap: 40px;
			}
			@media screen and (min-width:1240px) {
				padding: 46px;
			}
			img{
				max-width: 80px;
				width: 100%;
			}
			&-text{
				gap: 24px;
			}
		}

	}
	&__slider{
		position: relative;
	}
}
.individual-pagination {
	position: relative;
	width: 100%;
  height: 20px;
  display: flex;  
  align-items: center;
  gap: 10px;
	max-height: 100%;
	margin:0 0 40px 0;
	padding: 0 40px 0 40px;
	@media screen and (min-width:1024px) {
		 position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
  width: 20px;
	height: 100%;
	flex-direction: column;
	padding: 40px 0;
	}
}


.individual-pagination::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  background:#333;
	transform: translateY(-50%);
	height: 1px;
	@media screen and (min-width:1024px) {
		width: 1px;
		top: 8px;
  	bottom: 8px;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
	}
}

.pagination-dot {
  width: 15px;
	height: 15px;
  border-radius: 50%;
  background: $gradient;
  z-index: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	&:nth-last-of-type(1){
		right: 0;
		left: initial;
		
	}
	@media screen and (min-width:1024px) {
		top: 0;
	left: 50%;
	transform: translateX(-50%);
	&:nth-last-of-type(1){
		top: initial;
		bottom: 0;
		left: 50%;		
	}
	}
}

.pagination-step {
  border-radius: 20px;
	border: 1px solid #2C2C2C;
	background: $black;
  z-index: 1;
  transition: 600ms ease-out;
	flex: 1;
	width: 17px;
	@media screen and (max-width:1023.9px) {
		height: 17px;
	}
}

/* активна */
.pagination-step.is-active {
background: $gradient;
}
.individual-pagination::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width:  calc(var(--progress) * 100%);
  height: 1px;  
  background: linear-gradient(90deg, #333 0, #9adcff);
  background-size: 100% 100px;   
  z-index: 0;
  transition: height 600ms ease-out;
  pointer-events: none;
	@media screen and (min-width:1024px) {
		height: calc(var(--progress) * 100%); 
		width: 1px;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		background: linear-gradient(to bottom, #333333 0%, #9ADCFF 100%);
	}
}