@use './roots/' as *;
.info{
	margin-bottom: 240px;
	&__container{
		display: flex;
		flex-direction: column;
		gap: 44px;
		position: relative;
		@media screen and (min-width:1024px) {
			flex-direction: row;
		}
	}
	&__side{
		position: sticky;
		top: 0;
		right: 0;
		width: 408px;
		display: flex;
		flex-direction: column;
		gap: 32px;
		height: fit-content;
		@media screen and (max-width:991.9px) {
			display: none;
		}
		&__ad{
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding: 32px 32px 48px 32px;
			border-radius: 40px;
			border: 0.615px solid #333;
			background: $black-200;
			div{
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 32px;
				letter-spacing: 0.07px;
			}
			p{
				color: $gray;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: -0.312px;
			}
			.btn{
				max-width: 100%;
				width: 100%;
			}
		}
		&__images{
			display: flex;
			flex-direction: column;
			gap: 24px;
			img{
				aspect-ratio: 4 / 3;
				border-radius: 40px;
				object-fit: cover;
				max-width: 100%;
				width: 100%;
			}
		}
	}
	&__content{
		font-family: "Inter", sans-serif;
		@media screen and (min-width:1024px) {
			width: calc(100% - 408px - 44px);
		}
		@media screen and (min-width:1240px) {
			padding-left: 20px;
		}
		h2{
			padding-left: 16px;
			font-size: 28px;
			font-style: normal;
			font-weight: 700;
			line-height: 35px;
			margin-bottom: 32px;
			position: relative;
			@media screen and (min-width:1024px) {
				font-size: 30px;
				margin-bottom: 48px;
				padding-left: 0;
			}
			@media screen and (min-width:1024px) and (max-width:1240px) {				
				line-height: 37.5px; 				
			}
			@media screen and (min-width:1024px) {
				line-height: 36px; 
				letter-spacing: 0.396px;
			}
			&:before{
				content: '';
				width: 4px;
				height: calc(100% - 16px);
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: rgba(154, 220, 255, 0.30);
				border-radius: 20642200px;
				@media screen and (min-width:1240px) {
					left: -16px;
				}
			}
		}
		p{
			color: $gray;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 22.75px; 
			
			&:has(+ ul),
			&:has(+ ol),
			&:has(+ p){
			margin-bottom: 24px;
			@media screen and (min-width:1024px) {
				margin-bottom: 32px;
			}
			}
			&:has(+ h2){
				margin-bottom: 32px;
				@media screen and (min-width:1024px) {
				margin-bottom: 48px;
			}
			}
		}
		ul{
			display: flex;
			flex-direction: column;
			gap: 16px;
			margin-bottom: 24px;
			@media screen and (min-width:1024px) {
				margin-bottom: 32px;
			}
			li{
				position: relative;
				padding: 16px 16px 16px 40px;
				padding-left: 40px;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 21px;
				background-color: $black-200;
				border-radius: 14px;
				color: $gray-400;
				@media screen and (min-width:1024px) {
					font-size: 18px;
				}
				@media screen and (min-width:1024px) and (max-width:1239.9px) {
					line-height: 27px; 
				}
				@media screen and (min-width:1240px) {					
					line-height: 28px; 
					letter-spacing: -0.439px;
				}
			}
			&:not([class]){
				li{
					&:before{
					content: '';
					width: 8px;
					height: 8px;
					background-color: $accent-100;
					border-radius: 50%;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 16px;
				}
				}
				
			}
		}
		ul.info-list{
			li{
				padding-left: 63px;
				&:before{
					content: '';
					width: 31px;
					height: 17px;
					background: url(../images/directions-icon.svg) center center / 31px no-repeat;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 20px;
				}
			}
	}
	ol{
		display: flex;
		flex-direction: column;
		list-style: none;     
  counter-reset: info-counter; 
  padding-left: 0;
		li{
			color: $white-700;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 28px;
			letter-spacing: -0.439px;
			position: relative;
			padding: 12px 0 12px 72px;
			counter-increment:info-counter;
			@media screen and (min-width:1024px) {
				font-size: 18px;
			}
			&:nth-last-of-type(1){
				padding-bottom: 0;
				&:after{
					content: none;
				}
			}
			&:before{
				content: counter(info-counter); 
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 28px;
			border: 1.846px solid $black-100;
			background: $black-200;
      border-radius: 50%;
			color: $accent-100;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 28px; 
			letter-spacing: -0.449px;
			width: 48px;
			height: 48px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			}
			&:after{
				content: '';
				width: 2px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 24px;
				background-color:$black-100;
				z-index: 0;
			}
		}

	}
	}
	
}