@use './roots/' as *;
.lead{
	padding: 24px 0 0 0;
	margin-bottom: 44px;
	position: relative;
	@media screen and (min-width:1024px) {
			padding: 24px 0 0 0;
		}
	.breadcrumbs{
		margin-bottom: 187px;
		@media screen and (min-width:1024px) {
			margin-bottom: 31px;
		}
	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;		
	}
	&:after{
		content: '';
			top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		background: linear-gradient(180deg, rgba(28, 26, 28, 0.30) 0%, rgba(28, 26, 28, 0.60) 50%, #171517 100%);
	}
	&__container{
		position: relative;
		z-index: 2;
	}
	&__title{
		max-width: 896px;
		width: 100%;
		display: flex;
		flex-direction: column;
		font-family: "Inter", sans-serif;
		padding: 0 0 48px 0;
		@media screen and (min-width:1024px) and (max-width:1240px){
			padding: 84px 0 44px;
		}
		@media screen and (min-width:1240px){
			padding: 64px 0;
		}
		&__wrap{
			display: flex;
			align-items: center;
			gap:16px;
			margin-bottom: 25px;
			div{
				width: 48px;
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 16px;
				background: $accent-100;
				box-shadow: 0 10px 15px -3px rgba(154, 220, 255, 0.20), 0 4px 6px -4px rgba(154, 220, 255, 0.20);
			}
			span{
				padding: 7px 17px;
			border-radius: 20642200px;
			border: 0.615px solid rgba(255, 255, 255, 0.10);
			background: rgba(255, 255, 255, 0.10);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; 
			letter-spacing: -0.15px;
			@media screen and (min-width:1024px) {
				
			}
			}
		}
		h1{
			margin-bottom: 15px;
			line-height: 40px;
			text-align: left;
			@media screen and (min-width:1024px) {
				line-height: 75px; /* 138.889% */
				letter-spacing: 0.264px;
			}
		}
	}
}