@use './roots/' as *;
.step{
	margin-bottom: 180px;
	@media screen and (min-width:1024px) {
		margin-bottom: 240px;
	}
	h2{
		margin-bottom: 40px;
	}
	&__items{
		display: flex;
		flex-direction: column;
		gap: 18px;
		margin-bottom: 32px;
		@media screen and (min-width:1024px) {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
		}
		@media screen and (min-width:1240px) {
			margin-bottom: 40px;
		}
	}
	&__item{
		border-radius: 16px;
		background: $black-200;
		gap: 40px;
		display: flex;
		padding: 25px;
		align-items: center;
		*{
			font-family: "Manrope", sans-serif;
		}
		@media screen and (min-width:992px) {
			flex-direction: column;
			gap: 25px;
			padding: 40px 24px;
			align-items: flex-start;
		}
		&__wrap{
			display: flex;
			flex-direction: column;
			@media screen and (min-width:1024px) {
				gap: 30px;
				align-items: flex-start;
			}
			span{
				text-align: center;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 120%; 
				letter-spacing: 0.56px;
				text-transform: uppercase;
				color: $accent-100;
			}
		}
		&__count{
			color: $stroke;
			text-align: center;
			font-feature-settings: 'liga' off, 'clig' off;
			font-size: 52px;
			font-style: normal;
			font-weight: 600;
			line-height: 120%; 
			letter-spacing: -1.56px;
		}
		p{
			font-feature-settings: 'liga' off, 'clig' off;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%; /* 19.6px */
			letter-spacing: -0.28px;
			@media screen and (min-width:1240px) {
				font-size: 18px;
			}
		}
	}
}