@use './roots/' as *;

.sub{
	margin-bottom: 180px;
	@media screen and (min-width:1024px) {
		margin-bottom: 240px;
	}
	&__items{
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (max-width:1023.9px) {
			margin-left: -18px;
			margin-right: -18px;
		}
	}
	&__item{
		border-radius: 40px 40px 0 0;
		border-top: 1px solid $black-100;
		background: $black-200;
		padding: 29px 18px;
		position: relative;
		padding-bottom: 29px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
				gap: 60px;
				padding: 29px 30px 40px 40px;
				
			}
			@media screen and (min-width:1240px) {
				gap: 70px;
				padding: 29px 36px 60px 80px;
				padding-bottom: 60px;
				padding-left: 80px;
			}
		&:not(:nth-of-type(1)),
		&:not(:nth-last-of-type(1)){
			&:after{
				content: '';
				width: 100%;
				height: 29px;
				position: absolute;
				bottom: -29px;
				left: 0;
				background-color: inherit;
				display: block;
   			 pointer-events: none;
			}
		}
		&:nth-last-of-type(1){
			border-radius: 40px;
			&:after{
				content: none;
			}
		}

		&__top{
			display: flex;
			align-items: center;
			gap: 18px;
			position: relative;
			@media screen and (min-width:1024px) {
				gap: 62px;
			}
			@media screen and (max-width:1023.9px) {
					padding: 0 9px;
				}
				&__wrap{
					display: flex;
					align-items: center;
					gap: 80px;
					position: relative;
					@media screen and (min-width:1024px) and (max-width:1239.9px) {
						gap: 80px;
						width: 27.8%;
					}
					@media screen and (min-width:1240px) {
						gap: 130px;
						width: 26.8%;
					}
				}
			span{				
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 110%; /* 19.8px */
				letter-spacing: -0.36px;
				color: $white;
				transition: 600ms ease-out;
				@media screen and (max-width:1023.9px) {
					position: absolute;
					top: 30px;
					transform: translateY(-50%);
					left: 30px;
					opacity: 0;
						.is-active &{
							opacity: 1;
						}
				}
			}
			h2{
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 110%; 
				letter-spacing: -0.36px;
				color: $white;
				@media screen and (min-width:1024px) {
					width: 62.4%;
				}
				@media screen and (min-width:1024px) and (max-width:1239.9px) {
					font-size: 28px;
					letter-spacing: -0.56px;
				}
				@media screen and (min-width:1240px) {
					font-size: 40px;
					letter-spacing: -0.8px;
				}
			}
			img{
				border-radius: 10px;
				width: 110px;
				height: 65px;
				object-fit: cover;
				transition: 600ms ease-out;
				.is-active &{
					opacity: 0;
				}
			}

		}
		&__bottom{
			height: 0;
			opacity: 0;
			overflow: hidden;
			will-change: height, opacity;
			&__wrap{
				display: flex;
				flex-direction: column-reverse;
				gap: 24px;
				@media screen and (min-width:1024px) and (max-width:1239.9px) {
					gap: 27px;
				}
				@media screen and (min-width:1024px) {
					flex-direction: row;
					gap: 62px;
				}
			}
			&-text{
				width: 100%;
				
				p{
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 140%; /* 19.6px */
					letter-spacing: -0.28px;
					color:$gray;
					@media screen and (min-width:1024px) {
					font-size: 18px;
				}
				}
				@media screen and (min-width:1024px) {					
					font-size: 18px;
				}
				@media screen and (min-width:1024px) and (max-width:1239.9px) {					
					width: 27.8%;
				}
				@media screen and (min-width:1240px) {
					width: 26.8%;
				}
			}
			&-img{
				border-radius: 20px;
				@media screen and (min-width:1024px) {
					width: 68.4%;
					border-radius: 40px;
					
				}
				@media screen and (min-width:1240px) {
					max-height: 499px;
					max-width: 100%;
				}
				img{
					border-radius: inherit;
					max-width: 100%;
					max-height: fit-content;
					width: 100%;
					height: 100%;
					aspect-ratio: 17 / 10;
					@media screen and (min-width:1024px) and (max-width:1239.9px) {
					max-width: 529px;
					
				}
				}
			}
		}
	}
}