@use './roots/' as *;
.systems{
	margin-bottom: 240px;
	&__container{
		display: flex;
		flex-direction: column;
		gap: 240px;
		max-width: 1280px;
		margin: 0 auto;
	}
	&__item{
		display: flex;
		flex-direction: column;
		gap: 60px;
	
		h3{
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 32px;
				margin-bottom: 24px;
				@media screen and (min-width:992px) {
					font-size: 24px;
				}
			}
		&__row{
			display: flex;
			flex-direction: column;
			gap: 40px;
			.reverse &{
			@media screen and (min-width:1024px) {
				flex-direction: row-reverse;
			}
		}
			@media screen and (min-width:1024px) {
				flex-direction: row;
				justify-content: space-between;
			}
			
			@media screen and (min-width:1240px) {
				gap: 84px;
			}
		}
		&__info{
			@media screen and (min-width:1024px) and (max-width:1239.9px) {
				width: 48%;
			}
			@media screen and (min-width:1240px) {
				width: 44%;
			}
			&__title{
				display: flex;
				gap: 16px;
				align-items: center;
				margin-bottom: 24px;
				span{
					display: flex;
					padding: 9px 14px;
					justify-content: center;
					align-items: center;
					border-radius: 33554400px;
					border: 1px solid rgba(154, 220, 255, 0.20);
					background-color: rgba(154, 220, 255, 0.10);
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
					
				}
				h2{
					font-size: 40px;
					font-style: normal;
					font-weight: 400;
					line-height: 68px; /* 170% */
					letter-spacing: 1.3px;
					color: $white;
					@media screen and (min-width:1024px) {
						font-size: 48px;
						line-height: 48px;
					}
				}
			}
			p{
				color: $white-600;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20.8px;
				margin-bottom: 24px;
				@media screen and (min-width:1024px) {
					color: $gray;
					font-size: 20px;
					line-height: 28px;
					margin-bottom: 40px;
				}
			}
			
		}
		&__list{
			display: flex;
			flex-direction: column;
			gap: 24px;
			
		}

		&__img{
			display: flex;
			flex-direction: column;
			gap: 24px;
			@media screen and (min-width:1024px) and (max-width:1239.9px) {
				width: 47%;
				justify-content: end;
			}
			@media screen and (min-width:1240px) {
				width: 42%;
			}
			img{
				border-radius: 20px;
				aspect-ratio: 3 / 2;
				@media screen and (min-width:1024px) {
					border-radius: 40px;
				}
			}
			.btn.btn-third{
				gap: 8px;
				max-width: 100%;
				width: 100%;
				border: 1px solid rgba(94, 190, 241, 0.10);
				padding: 15px;
				font-size: 14px;
				line-height: 20px; 
				&:before{
					content:none;

				}
			}
		}
	}
}