@use './roots/' as *;
.team{
	margin-bottom: 240px;
	&__container{
		display: flex;
		flex-direction: column;
		gap: 32px;
		@media screen and (min-width:1024px) {
			gap: 40px;
		}
	}
	&__title{
		@media screen and (min-width:1024px) {
			padding-right: 260px;
		}
	}
	&__slider{
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 40px;
		
	}
	&__btns{
			
			display: flex;
			align-items: center;
			gap: 18px;
			justify-content: center;
			@media screen and (min-width:1024px) {
				position: absolute;
			top: -108px;
			right: 0;
			}
		}
		&__btn{
			display: flex;
			align-items: center;
			justify-content: center;			
			border-radius: 100px;
			border: 2px solid $accent;
			background-color: $accent-100;
			cursor: pointer;
			&.btn{
				padding: 22px 55px;
			}
			&:before{
				display: none;
			}
			&.swiper-button-disabled{
				background-color: $black-200;
				border-color: $black-200;
				cursor: not-allowed;
			}
			&.swiper-button-lock{
				display: none;
			}
			svg{
				transition: 600ms ease-out;
			}
			&:hover{
				svg{
					transform: rotate(45deg);
				}
			}
		}
		&Slider{
			max-width: 100%;
			width: 100%;
		}
		&__item{
			padding-top: 272px;
			border-radius: 32px;
			background-color: $black-200;
			height: auto;
			display: flex;
			flex-direction: column;
			min-height: 427px;
			aspect-ratio: 5 / 6;
			@media screen and (min-width:1240px) {
				padding-top: 334px;
				min-height: 521px;
				
			}
			&:hover{
				.team__item__info__wrapper{	
					background-color: transparent;
				}
				.team__item__info__name{
					color: $accent-100;
				}
				.team__item__info__description{
					color: $white;
				}
			}
			&:after{
				content: '';
				width: 100%;
				height: 100%;
				z-index: 2;
				position: absolute;
				border-radius: inherit;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			img{
				width: 100%;
				height: 100%;
				z-index: 1;
				position: absolute;
				border-radius: 33px 33px 35px 35px;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;				
			}
			&__info{
				display: flex;
				flex-direction: column;
				gap: 12px;
				background-color: $black-200;
				padding: 18px 14px;	
				border-radius: 30px;			
				margin: 0 auto;				
				width: 100%;
				@media screen and (min-width:1240px) {
					padding: 24px 20px;
				}		
				&__wrapper{
					margin-top: auto;		
					flex-grow: 1;
					height: 100%;
					padding: 0 15px 10px 15px;
					border-radius: 0 0 32px 32px;
					background-color: $black-200;
					transition: 600ms ease-out;
					position: relative;
				z-index: 3;
				@media screen and (min-width:1240px) {
					padding: 0 15px 20px 15px;
				}
				}
				&__name{
					font-size: 18px;
					font-style: normal;
					font-weight: 500;
					line-height: 120%;
					transition: 600ms ease-out;
					@media screen and (min-width:1024px) and (max-width:1239.9px) {
						font-size: 16px;
					}
					@media screen and (min-width:1240px) {
						font-size: 22px;
					}
				}
				&__description{
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 140%;
					color: $gray;
					transition: 600ms ease-out;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 100%;
					@media screen and (min-width:1240px) {
					font-size: 18px;
				}
				}
			}
		}
}