
@font-face {
	font-family: "Manrope";
	src: url(../fonts/Manrope-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: "Manrope";
	src: url(../fonts/Manrope-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: "Manrope";
	src: url(../fonts/Manrope-SemiBold.ttf);
	font-weight: 600;
}
@font-face {
	font-family: "Manrope";
	src: url(../fonts/Manrope-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-ExtraLight.ttf);
	font-weight: 200;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-SemiBold.ttf);
	font-weight: 600;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-Bold.ttf);
	font-weight: 700;
}
 


	$black: #171517;
	$black-100: #333;
	$black-200: #1C1A1C;
	$black-300: #2A2A2A;
	$gray:#B1B1B1;
	$gray-100:#7D7D7D;
	$gray-200:rgba(172, 172, 172, 0.20);
	$gray-300:#4B4B4B;
	$gray-400:#4B4B4B;
	$white: #fff;
	$white-100: rgba(255, 255, 255, 0.10);
	$white-200: rgba(255, 255, 255, 0.02);
	$white-400: rgba(255, 255, 255, 0.04);
	$white-500:#EBFBFF;
	$white-600:#E8EEF1;
	$white-700:#D1D1D1;
	$accent:#5EBEF1;
	$accent-100:#9ADCFF;
	$accent-200:#E4F1FC;
	$accent-300:#0577B4;
	$accent-900:#3796C8;
	$gradient: linear-gradient(231deg, #E4F1FC 1.26%, #9ADCFF 22.36%, #5EBEF1 66.67%, #0577B4 93.25%);
	$stroke:#E6E9EA;
h1{
	text-align: center;
	font-family:"Manrope";
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	letter-spacing: -0.96px;
	color: $white-500;
	@media screen and (min-width:768px) {
		font-size: 54px;
		letter-spacing: -1.62px;
	}
}

h2{	
	font-style: normal;	
	font-size: 54px;	
	line-height: 64px; 
	letter-spacing: -1.62px;
	font-weight: 600;
	color: $white-500;
	@media screen and (max-width:767.9px) {
		font-size: 28px;
		font-weight: 700;
		line-height: 110%; 
		letter-spacing: -0.84px;
	}
}


html.open,
html.open-popup,
html.open-filter{
	overflow: hidden;
}

html {
    &::-webkit-scrollbar {
        width: 10px !important; 
        display: block !important;
    }

    &::-webkit-scrollbar-track {
        background: #171517 !important; 
    }

    &::-webkit-scrollbar-thumb {
        background-color: #9ADCFF !important;
        border-radius: 10px !important;
    }
}
.container{
	max-width: 1392px;
	width: 100%;
	padding: 0 18px;
	margin: 0 auto;
	@media screen and (min-width:1024px) {
		padding: 0 20px;
	}
}
.container-l{
	max-width: 1392px;
	width: 100%;
	padding: 0 18px;
	margin: 0 auto;
	@media screen and (min-width:1024px) {
		padding: 0;
	}
}




body{
	font-family: "Manrope", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	background-color: $black;
	color: $white;
	overflow: hidden;
	overflow-y: auto;
}

.logo{
	img{
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
	}
}



.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: fit-content;
	width: 100%;
	padding: 14px;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	transition: 600ms ease-out;
	border-radius: 100px;
	z-index: 1;
	position: relative;
	@media screen and (min-width:1240px) {
		font-size: 18px;
		padding: 18px 40px;
	}
	
	&.btn-primary{
			border: 2px solid $accent;
			background-color: $accent-100;
			color: $black;
			font-size: 18px;
			@media screen and (min-width:1240px) {
				padding: 18px 68px 18px 40px;
			}
			@media screen and (max-width:1239.9px) {
				padding: 10px 68px 10px 40px;
			}
			&:after{
				content: '';
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				border-radius: 100px;
				border: 2px solid $accent;
				background: $gradient;
				transition: 600ms ease-out;
				opacity: 0;
				z-index: -1;
			}
			&.btn-back{
				border-radius: 100px;
				border: 1px solid $gray-300;

				background: $black-200;
				padding: 10px 40px 10px 73px;
				color: $gray-300;
				&:before{

					left: 40px;
					transform: translateY(-50%) rotate(0deg);
					background-image: url('../images/arrow-gray.svg');
				}
				&:hover{
					color: $black;
					&:before{
						filter: brightness(0);
						transform: translateY(-50%) rotate(45deg);
					}
				}
			}
	&:hover{
		background-color: transparent;
		&:after{
			opacity: 1;
		}
		&:before{
			transform: translateY(-50%) rotate(0);
		}
	}
	&:active{
		background-color: $accent-900;
	&:after{
		opacity: 0;
	}
	}
	&:before{
		content: '';
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		right: 40px;
		transform: translateY(-50%) rotate(-45deg);
		transition: 600ms ease-out;
		background: url(../images/btn-arrow.svg) center center / 20px no-repeat;
	}
	}
	&.btn-secondary{
		border-color: $white;
		color: $white;
		gap: 12px;
		border: 1px solid $gray-300;
		&:hover{
			border-color: transparent;
			background-color: $white-200;
		}
		&:active{
			border-color: $white;
			background-color: $white-100;
		}
	}
	&.btn-third{
			border: 2px solid $accent;
			background-color: $accent-100;
			color: $black;
			font-size: 18px;
			gap: 8px;
			padding: 15px;
			@media screen and (min-width:1240px) {
				padding: 18px 30px;
			}
				&:after{
				content: '';
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				border-radius: 100px;
				border: 2px solid $accent;
				background: $gradient;
				transition: 600ms ease-out;
				opacity: 0;
				z-index: -1;
			}
	&:hover{
		background-color: transparent;
		&:after{
			opacity: 1;
		}
	}
	&:active{
		background-color: $accent-900;
	&:after{
		opacity: 0;
	}
	}
	}
}
main{
	position: relative;
}
.btn-container{
position: sticky;
bottom:20px;
width: 100%;
z-index: 1;
transition: opacity 0.3s ease, transform 0.3s ease;
pointer-events: none;
z-index: 2;
&.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
	max-height: 0;
}
}
.sticky-btn{
	margin-left: auto;
	position: relative;
	z-index: 10;
	border-radius:50%;
	color: $white;
	max-width: 145px;
	max-height: 145px;
	width: 100%;
	height: 100%;
	aspect-ratio: 1;
	background-color: $gray-200;
	padding:28px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	text-transform: uppercase;
}
.list__items{
		display: flex;
		flex-direction: column;
		gap: 12px;

	}

.list__item{
		border-radius: 40px;
		background-color: $black-200;
		display: flex;
		flex-direction: column;
		gap: 18px;
		padding: 25px 24px;
		@media screen and (min-width:1240px) {
			padding: 25px 40px;
		}
		&__title{
			padding-left: 46px;
			position: relative;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 120%; 
			@media screen and (min-width:1024px) and (min-width:1239.9px){
				font-size: 18px;				
			}
			@media screen and (min-width:1240px) {
				font-size: 22px;
			}
			&:before{
				content: '';
				width: 31px;
				height: 17px;
				background: url(../images/directions-icon.svg) center center / 31px no-repeat;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
			}
		}
		&__bottom{
			color: $gray;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			@media screen and (min-width:1024px) and (max-width:1239.9px){
				font-size: 16px;
			}
			@media screen and (min-width:1240px) {
				font-size: 18px;
			}
		}
	}

.catalogue{
		display: flex;
			flex-direction: column;
			gap: 24px;
			h3{
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: 28px;
			}
			
}
ul.catalogue-list{
				display: flex;
				flex-direction: column;
				gap: 18px;
				li{
					position: relative;
					padding-left: 43px;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
					@media screen and (min-width:1024px) {
						font-size: 16px;
					}
					&:before{
						content: '';
						width: 31px;
						height: 17px;
						background: url(../images/directions-icon.svg) center center / 31px no-repeat;
						position: absolute;
						top: 0%;
						left: 0;
					}
				}
			}
ul.list{
	display: flex;
	flex-direction: column;
	gap: 18px;
	padding: 18px;
	background-color: $black-200;
	border-radius: 24px;
	padding: 18px;
				
	@media screen and (min-width:1024px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 40px;
		row-gap: 18px;
		padding: 32px 25px;
	}
	li{
		color: $gray;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		position: relative;
		padding-left: 36px;
		@media screen and (min-width:1024px) {
			font-size: 16px;
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			
		}
		&:before{
			content: '';
			width: 25px;
			height: 25px;
			background: url(../images/list-icon.svg) center center / 25px no-repeat;
			position: absolute;
			top: 0%;
			left: 0;
				@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width: 20px;
			height: 20px;
			background-size: 20px;
		}
		}
	}
}

.breadcrumbs{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 9px;
	z-index: 2;
	@media screen and (min-width:1024px) and (max-width:1239.9px) {
		margin-bottom: 123px;
	}
	@media screen and (min-width:1240px) {
		margin-bottom: 103px;
	}
		a{
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; /* 142.857% */
			letter-spacing: -0.15px;
			color: #FFF;
			text-align: center;
			font-family: "Inter", sans-serif;
			&:hover {
				color: $accent-100;
				svg path{
					stroke: $accent-100;
				}
			}		
		}
		svg{
			width: 16px;
			height: 16px;
			path{
				transition: 600ms ease-out;
			}
		}
		
}
// .accord {
//     display: flex;
//     flex-direction: column;
// }

// .accord-item {
//     max-width: 100%;
//     width: 100%;
//     cursor: pointer;
//     transition: all 0.3s linear;
// }

// .accord-item-top {
//     max-width: 100%;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     position: relative;
//     z-index: 1;
//     transition: 0.3s linear;
// }

// .accord-item-bottom {
// 		margin-top: -16px;
// 		padding: 16px 0 0 0;
//    	transition: all 300ms linear;
// 		will-change: opacity, max-height, visibility;				
// 		visibility: hidden;
// 		opacity: 0;
// 		max-height: 0;
// 		overflow: hidden;
// 		will-change: opacity, max-height;
// 		transition: margin-top 300ms linear,opacity 300ms linear, transform 300ms linear, max-height 300ms linear, visibility 300ms linear, padding 300ms linear;	
// 	}

// .icon-wrapper {
//     position: relative;
//     margin-left: auto;
// }

// .accord-item.active .accord-item-bottom {
// 	visibility: visible;
// 	opacity: 0;
// 	max-height: 5000px;
// 	overflow: visible;
// 	opacity: 1;
// 	padding: 32px 0 0 0 ;
// 	margin-top:-16px;
// 	transition: margin-top 300ms linear,opacity 300ms linear, transform 300ms linear, max-height 300ms linear, visibility 300ms linear, padding 300ms linear;	

// }


.simple{
	color: $accent-100;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 16.8px */
	letter-spacing: 0.56px;
	text-transform: uppercase;
	display: inline-block;
	@media screen and (min-width:1024px) {
		font-size: 14px;
	}
}

form{
	display: flex;
	flex-direction: column;
	gap: 4px;
	input, textarea{
		padding: 23px 32px;
		border-radius: 60px;
		background-color: $white-400;
		color:$gray;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: 120%; 
		letter-spacing: -0.64px;
		border: 1px solid transparent;
		width: 100%;
		outline: none;
		transition: 600ms ease-out;
		::placeholder{
			opacity: 1;
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			line-height: 120%; 
			letter-spacing: -0.64px;
			transition: 600ms ease-out;
			color: $gray;
		}
		&:active, &:focus{
			border-color: $accent-100;
			&::placeholder{
				opacity: 0;
			}
		}
	}
	textarea{
		border-radius: 20px;
		padding: 20px 32px;
		resize: none;
	}
	label{
		position: relative;
		padding-left: 30px;
		margin: 32px 0;
					font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 140%; /* 19.6px */
			letter-spacing: -0.28px;
			color: $gray;
			a{
				text-decoration: underline;
				transition: 600ms ease-out;
				&:hover{
					color: $accent-100;
				}
				&:active{
					color: $accent-900;
				}
			}
		input[type="checkbox"]{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			max-width: 18px;
			max-height: 18px;
			aspect-ratio: 1;
			margin: 0;
			padding: 0px;
			appearance: none;
			border: none;
			background-color: transparent;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				border-radius: 50%;
				max-width: 18px;
				max-height: 18px;
				aspect-ratio: 1;
				width: 100%;
				height: 100%;
				border: 1px solid $stroke;
				padding: 3px;
				accent-color: $accent;
				transition: 600ms ease-out;
				background-color: transparent;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 12px;
				background-image: none;
			}
			&:checked{
				&:after{
					background-image: url(../images/check.svg);
				}
			}
		}
	}
}	
		
.row{
	display: flex;
	flex-direction: column;
	gap: 32px;
	&.row-reverse{
		@media screen and (min-width:1024px) {
		flex-direction: row-reverse;		
	}
	}
	@media screen and (min-width:1024px) {
		flex-direction: row;		
		justify-content: space-between;
	}
	@media screen and (min-width:1024px) and (max-width:1239.9px) {
		gap: 28px;
	}
	@media screen and (min-width:1240px) {
		gap: 40px;
	}
	&__item{
		&-bg{
			padding: 32px 24px;
			background-color: $black-200;
			border-radius: 40px;
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
			height: auto;
			gap:24px;

			@media screen and (min-width:1024px) {
				flex-direction: column;
			}
			@media screen and (min-width:1024px) and (max-width:1239.9px) {
				width: 46%;
			}
			@media screen and (min-width:1240px) {
				width: 43%;
				padding: 46px;
			}

			img{
				max-width: fit-content;
				max-height: fit-content;
				margin-left: auto;
				@media screen and (min-width:1024px) {
				margin-bottom: auto;
			}
			}
			&__content{
				display: flex;
				flex-direction: column;
				gap: 24px;
				@media screen and (min-width:1024px) {
					gap: 40px;
				}
			}
			p{
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 140%; 
				color: $gray;
				@media screen and (min-width:1024px) {
					font-size: 18px;
				}
			}
		}
		&-transparent{
			display: flex;
			flex-direction: column;
			gap: 32px;
			@media screen and (min-width:1024px) {
				width: 51%;
			}
			&__content{
				display: flex;
				flex-direction: column;
				gap: 18px;
				@media screen and (min-width:1024px) {
					gap: 24px;
				}
			}
			p{
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 140%;
				letter-spacing: -0.54px;
				color: $white;
				@media screen and (min-width:1024px) and (max-width:1239.9px) {
					font-size: 24px;
					letter-spacing: -0.72px;
				}
				@media screen and (min-width:1240px) {
					font-size: 28px;
					letter-spacing: -0.84px;
				}
				span{
					color: $accent-100;
				}
			}
			img{
				border-radius: 40px;
				aspect-ratio: 5 / 3;
				object-fit: cover;
			}
		}
	}
}
.doctors{
	margin-bottom: 240px;
}

	.wrap{
		display: flex;
		flex-direction: column;
		gap:32px;
		position: relative;
		@media screen and (min-width:960px) {
			justify-content: flex-end;
			flex-direction: row;
			&.wrap-reverse{
				flex-direction: row-reverse;
			}
		}
	
	&__img{
		display: flex;
		align-items: center;
		max-width: 100%;
			width: 100%;
		@media screen and (min-width:1024px) {
			max-width: 676px;
			width: 49%;
		}
			img{
				
				width: 100%;
				aspect-ratio: 17 / 10;
				@media screen and (min-width:1024px) {
					max-width: 676px;
				}
			}
	}
	&__wrapper{
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 18px;

		@media screen and (min-width:1024px) {
			width: 51%;
			z-index: 1;
			gap: 24px;
		}
	}
}